html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* @import url("fonts/Marlene Grande/stylesheet.css"); */




.pattern {
  position: absolute;
  width: 1006.33px;
  height: 8666.75px;
  left: 217px;
  top: 20px;
}

.logo {
  position: absolute;
  width: 403px;
  height: 198px;
left: 519px;
top: 20px;
}

.x1 {
  position: absolute;
width: 220px;
height: 8713px;
left: 3px;
top: 0px;

}

.x2 {
  position: absolute;
  width: 220px;
  height: 8713px;
  left: 1220px;
  top: 0px;
}




.sod {
  position: absolute;
width: 254px;
height: 36px;
left: 590px;
top: 355px;

font-family: Marlene Grande;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;
/* identical to box height */

letter-spacing: 0.22em;
}

.sod1 {
  position: absolute;
width: 400px;
height: 24px;
left: 521px;
top: 428px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
}

.sod2 {
  position: absolute;
width: 399px;
height: 24px;
left: 521px;
top: 461px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
}

.sod3{
  position: absolute;
width: 430px;
height: 24px;
left: 521px;
top: 494px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
}


.sod4 {
  position: absolute;
width: 395px;
height: 24px;
left: 521px;
top: 527px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
}

.sod5 {
  position: absolute;
width: 395px;
height: 24px;
left: 521px;
top: 560px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
}

.ch1 {
  position: absolute;
width: 506px;
height: 80px;
left: 467px;
top: 860px;

}

.ch2{
  position: absolute;
width: 516px;
height: 79px;
left: 462px;
top: 1828px;
}

.ch3{
  position: absolute;
width: 518px;
height: 79px;
left: 461px;
top: 3588px;
}


.ch4{
  position: absolute;
width: 518px;
height: 79px;
left: 461px;
top: 5390px;
}

.ch5{
  position: absolute;
width: 518px;
height: 79px;
left: 461px;
top: 7237px;
}





.description {
  position: absolute;
width: 354px;
height: 41px;
left: 543px;
top: 935px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 34px;
line-height: 41px;
/* identical to box height */

text-align: center;
letter-spacing: 0.1em;
}




.styles {
  position: absolute;
width: 231px;
height: 41px;
left: 605px;
top: 1905px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 34px;
line-height: 41px;
/* identical to box height */

text-align: center;
letter-spacing: 0.1em;
}



.spec {
  position: absolute;
width: 254px;
height: 41px;
left: 593px;
top: 3670px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 34px;
line-height: 41px;
/* identical to box height */

text-align: center;
letter-spacing: 0.1em;

}

.do {
  position: absolute;
  width: 290px;
  height: 41px;
  left: 586px;
  top: 5475px;

  font-family: Marlene Grande;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 41px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.1em;

}

.conclusion {
  position: absolute;
width: 119px;
height: 41px;
left: 661px;
top: 7310px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 34px;
line-height: 41px;
/* identical to box height */

text-align: center;
letter-spacing: 0.1em;
}



.frame1 {

position: absolute;
width: 675.87px;
height: 215px;
left: 382px;
top: 1052px;

}

.letter_abv {
  position: absolute;
width: 663px;
height: 304.39px;
left: 386px;
top: 1273px;
}

.stars {
  position: absolute;
width: 444px;
height: 171px;
left: 499px;
top: 1539px;

}

.frame2 {
  position: absolute;
width: 512.79px;
height: 337px;
left: 464px;
top: 2041px;

}


.let_o {
  position: absolute;
  width: 170px;
  height: 179px;
  left: 298px;
  top: 3767px;
}

.let_r {
  position: absolute;
  width: 273px;
  height: 240px;
  left: 589px;
  top: 3769px;

}


.let_y {
  position: absolute;
  width: 127px;
  height: 240px;
  left: 977px;
  top: 3792px;

}


.let_e {
  position: absolute;
  width: 167px;
  height: 240px;
  left: 287px;
  top: 4068px;

}


.let_l1{
  position: absolute;
width: 245.4px;
height: 240px;
left: 569px;
top: 4082px;

}

.let_l2 {
  position: absolute;
  width: 238px;
  height: 240px;
  left: 915px;
  top: 4084px;

}

.anatomy {
  position: absolute;
width: 783px;
height: 208px;
left: 278px;
top: 4598px;

}

.eyebig {

position: absolute;
width: 423px;
height: 328px;
left: 509px;
top: 4928px;
}


.letter_d {
  position: absolute;
width: 159px;
height: 240px;
left: 501px;
top: 5765px;

}

.letter_m {

  position: absolute;
  width: 193px;
  height: 240px;
  left: 778px;
  top: 5771px;
}

.stuff {
  position: absolute;
width: 800.26px;
height: 762.96px;
left: 328px;
top: 6227px;

}

.frame3 {
  position: absolute;
width: 675.87px;
height: 215px;
left: 382px;
top: 7441px;

}

.ending {
  position: absolute;
width: 456px;
height: 193px;
left: 498px;
top: 7723px;
}

.eyeLot {
  position: absolute;
width: 873px;
height: 623px;
left: 284px;
top: 8000px;
}




.marl{
  position: absolute;
width: 608.9px;
height: 147.74px;
left: 421px;
top: 1106px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
}

.plus {
  font-family: Marlene Grande;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 43px;
}


.award {
  position: absolute;
  width: 338.09px;
  height: 140px;
  left: 549.67px;
  top: 1570px;

  font-family: Marlene Grande;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
}

.plus2 {
  font-style: italic;
font-weight: normal;
}



.marl1 {
  position: absolute;
width: 220px;
height: 72px;
left: 539px;
top: 2106px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 54px;
}

.marl2 {
  position: absolute;
width: 224px;
height: 73px;
left: 539px;
top: 2157px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 54px;
}

.marl3 {
  position: absolute;
width: 232px;
height: 72px;
left: 539px;
top: 2209px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 54px;
}

.marl4 {
  position: absolute;
width: 240px;
height: 72px;
left: 539px;
top: 2263px;

font-family: Marlene Grande;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 54px;
}

.marl5 {
  position: absolute;
width: 203px;
height: 72px;
left: 733px;
top: 2106px;

font-family: Marlene Grande;
font-style: italic;
font-weight: normal;
font-size: 45px;
line-height: 54px;

}

.marl6 {
  position: absolute;
  width: 205px;
  height: 73px;
  left: 733px;
  top: 2157px;

  font-family: Marlene Grande;
  font-style: italic;
  font-weight: normal;
  font-size: 45px;
  line-height: 54px;
}

.marl7 {
  position: absolute;
width: 217px;
height: 72px;
left: 733px;
top: 2209px;

font-family: Marlene Grande;
font-style: italic;
font-weight: normal;
font-size: 45px;
line-height: 54px;

}

.marl8{
  position: absolute;
  width: 225px;
  height: 72px;
  left: 733px;
  top: 2263px;

  font-family: Marlene Grande;
  font-style: italic;
  font-weight: bold;
  font-size: 45px;
  line-height: 54px;

}

.style_text {
  position: absolute;
width: 480px;
height: 86px;
left: 480px;
top: 2451px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 28px;
text-align: center;
}


.st {
  font-style: italic;
font-weight: normal;
}

.st1{
  font-style: normal;
font-weight: bold;
}



.bb1 {
  position: absolute;
width: 422px;
height: 49px;
left: 298px;
top: 2640px;

font-family: Marlene Grande;
font-style: italic;
font-weight: normal;
font-size: 46px;
line-height: 55px;
text-align: center;
}


.bb2 {
  position: absolute;
width: 243px;
height: 55px;
left: 698px;
top: 2640px;

font-family: Marlene Grande;
font-style: normal;
font-weight: bold;
font-size: 46px;
line-height: 55px;
text-align: center;
}


.bb3 {
  position: absolute;
width: 192px;
height: 55px;
left: 945px;
top: 2640px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 46px;
line-height: 55px;
text-align: center;
}


.bb4 {
  position: absolute;
width: 829px;
height: 122px;
left: 316px;
top: 2696px;

font-family: Marlene Grande;
font-style: italic;
font-weight: normal;
font-size: 102px;
line-height: 122px;
}


.bb5 {
  position: absolute;
width: 785px;
height: 182px;
left: 319px;
top: 2795px;

font-family: Marlene Grande;
font-style: italic;
font-weight: bold;
font-size: 152px;
line-height: 182px;
}


.bb6 {
  position: absolute;
width: 410px;
height: 88px;
left: 329px;
top: 2950px;

font-family: Marlene Grande;
font-style: normal;
font-weight: bold;
font-size: 73px;
line-height: 88px;
}


.bb7 {
  position: absolute;
width: 369px;
height: 187px;
left: 748px;
top: 2928px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 156px;
line-height: 187px;
}


.bb8 {
  position: absolute;
width: 387px;
height: 54px;
left: 328px;
top: 3034px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 54px;
/* identical to box height */

letter-spacing: 0.6em;
}


.bb9 {
  position: absolute;
width: 813px;
height: 179px;
left: 316px;
top: 3077px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 149px;
line-height: 179px;
}


.bb10 {
  position: absolute;
width: 460px;
height: 180px;
left: 316px;
top: 3197px;

font-family: Marlene Grande;
font-style: normal;
font-weight: bold;
font-size: 150px;
line-height: 180px;
/* identical to box height */

letter-spacing: 0.17em;
}


.bb11 {
  position: absolute;
width: 319px;
height: 42px;
left: 789px;
top: 3220px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 42px;
/* identical to box height */

letter-spacing: 0.68em;
}


.bb12 {
  position: absolute;
width: 324px;
height: 42px;
left: 789px;
top: 3256px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 42px;
/* identical to box height */

letter-spacing: 0.68em;

}


.bb13 {
  position: absolute;
width: 324px;
height: 42px;
left: 788px;
top: 3293px;

font-family: Marlene Grande;
font-style: italic;
font-weight: bold;
font-size: 35px;
line-height: 42px;
/* identical to box height */

letter-spacing: 0.68em;
}


.bb14 {
  position: absolute;
width: 262px;
height: 49px;
left: 316px;
top: 3342px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 46px;
line-height: 55px;
text-align: center;
}


.bb15 {
  position: absolute;
width: 373px;
height: 49px;
left: 555px;
top: 3342px;

font-family: Marlene Grande;
font-style: italic;
font-weight: normal;
font-size: 46px;
line-height: 55px;
text-align: center;
}


.bb16 {
  position: absolute;
width: 100px;
height: 49px;
left: 899px;
top: 3342px;

font-family: Marlene Grande;
font-style: italic;
font-weight: normal;
font-size: 46px;
line-height: 55px;
text-align: center;
}


.bb17 {
  position: absolute;
width: 151px;
height: 49px;
left: 978px;
top: 3342px;

font-family: Marlene Grande;
font-style: italic;
font-weight: bold;
font-size: 46px;
line-height: 55px;
text-align: center;
}






.letter_text_1 {
  position: absolute;
width: 143.5px;
height: 59.92px;
left: 304px;
top: 3953px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
text-align: center;
}

.letter_text_2 {
  position: absolute;
  width: 303px;
  height: 58px;
  left: 567px;
  top: 3956px;

  font-family: Marlene Grande;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.letter_text_3 {
  position: absolute;
width: 143px;
height: 58px;
left: 961px;
top: 3977px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
text-align: center;
}

.letter_text_4 {
  position: absolute;
width: 168px;
height: 58px;
left: 288px;
top: 4264px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
text-align: center;
}

.letter_text_5 {
  position: absolute;
width: 218px;
height: 58px;
left: 586px;
top: 4272px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
text-align: center;
}

.letter_text_6 {
  position: absolute;
width: 191px;
height: 58px;
left: 910px;
top: 4272px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
text-align: center;

}



.okeania {
  position: absolute;
width: 847px;
height: 240px;
left: 296px;
top: 4596px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 200px;
line-height: 240px;
/* identical to box height */

text-align: center;
}



.oke1 {
  position: absolute;
width: 287px;
height: 58px;
left: 752px;
top: 4540px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
text-align: center;
}

.oke2 {
  position: absolute;
width: 258px;
height: 87px;
left: 440px;
top: 4785px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
text-align: center;
}


.oke3 {
  position: absolute;
width: 260px;
height: 58px;
left: 896px;
top: 4824px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
text-align: center;

}


.eye_text {
  position: absolute;
width: 360px;
height: 96px;
left: 549px;
top: 5200px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
text-align: center;
}



.do_letter {
  position: absolute;
width: 441px;
height: 108px;
left: 500px;
top: 5608px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
text-align: center;

}


.buk1 {
  position: absolute;
  width: 158px;
  height: 24px;
  left: 535px;
  top: 5994px;

  font-family: Marlene Grande;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.buk2 {
  position: absolute;
width: 169px;
height: 24px;
left: 840px;
top: 5994px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
}



.thought {
  position: absolute;
width: 599px;
height: 89px;
left: 421px;
top: 6062px;

font-family: Marlene Grande;
font-style: italic;
font-weight: normal;
font-size: 20px;
line-height: 24px;
}

.th1 {
  font-size: 34px;
line-height: 41px;
}

.super {
  position: absolute;
width: 610px;
height: 148px;
left: 423px;
top: 7489px;

font-family: Marlene Grande;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
}


.super1 {
  font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 43px;
}

.college {
  position: absolute;
width: 289px;
height: 84px;
left: 576px;
top: 8225px;

font-family: Marlene Grande;
font-style: italic;
font-weight: bold;
font-size: 35px;
line-height: 42px;
text-align: center;
}

.name {
  position: absolute;
width: 251px;
height: 24px;
left: 595px;
top: 8310px;

font-family: Marlene Grande;
font-style: italic;
font-weight: normal;
font-size: 20px;
line-height: 24px;
}



.eye1 {
  position: absolute;
  width: 120px;
  height: 94px;
  left: 1030px;
  top: 1680px;
}

.eye2 {
  position: absolute;
  width: 120px;
  height: 94px;
  left: 288px;
  top: 1958px;
}

.eye3 {
  position: absolute;
  width: 116px;
  height: 91px;
  left: 292px;
  top: 4350px;
}

.eye4 {
  position: absolute;
  width: 116px;
  height: 91px;
  left: 1040px;
  top: 7000px;
}

.eyeeee {
  position: absolute;
width: 873px;
height: 623px;
left: 284px;
top: 8000px;

}

.eye_main {

  position: absolute;
width: 88px;
height: 68px;
left: 676px;
top: 300px;

}
